librosa
Sphinx
sphinxcontrib-napoleon
docopt
graphviz
sentencepiece>=0.0.6
unidecode
tensorflow
pylru
spacy
transformers==2.5.0
bigcode-astgen
bigcode-embeddings
bigcode-fetcher
words2num
num2words
dask>=0.15
nltk
astor
dynet
asteval
filelock
more_itertools
gdown
